ion-content.frontPage {
    --ion-background-color: var(--ion-color-primary);
}

.Front-buttons{
    display: flex;
    justify-content: center;
    margin-top: 50vh;
}

.Front-button{
    width: 80%;
}