ion-header {
    background: var(--ion-color-primary);
    height: 25vh;
    width: 100%;    
    z-index: 10;
}

.headerLogo {
    position: absolute;
    max-width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Backbutton{
z-index: 100;
position: relative;
display: block !important;
color: red;
overflow: visible !important;
visibility: visible !important;


}

