.profileContainer {
  display: flex;
}

.profileContainer ion-row {
  justify-content: center;
}

.profilePosts {
  display: flex;
  text-align: center;
}

.profileImgRow {
    position: relative;
    margin-top: -50px;
    z-index: 19;
}

.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
