.settingsCenter {
  justify-content: center;
}

.settingsImgRow {
  position: relative;
  margin-top: -50px;
  z-index: 19;
}

.settingsDivider {
  border-bottom: 1px solid black;
  width: 100%;
  display: inline-block;
}

.settingsUserInfo {
  flex-direction: column;
}

.deleteLogoutBtns{
  justify-content: space-between;
}

.deleteLogoutBtns ion-button:last-child {
  color: var(--ion-color-danger);
  --background: none;
}

.settingsUserNav {
  display: none;
}

.showUserEdit{
  display: block;
}

.settingsUser{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

